.title-bar{
    font-size: 32px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 970px;
}
.title-blog{
    font-size: 32px;
    line-height: 40px;
    margin: 1px 0 3px 0;
}
.title-latestNews
{
    font-size: 20px;
    color: #888;
    margin-bottom: 3px;
    margin-top: 6px;
    display: inline-block;
}
.container-blog{
    width: 970px;
    margin: auto;
}
.post-content{
    padding: 36px 43px;
}
.readmore:hover{
    margin-left: 10px;
    color: #f91942;
}
.link-to-contact:hover{
    color: white;

}
.title-popular-posts
{
    
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 22px;
}
.widget-name:hover{
    color:red;
}
.widget-name{
    text-decoration: none;
    color: black;
    transition: color 0.2s;
}
.widget-content{
    margin-top: 20px;    padding: 0;
    list-style: none;
    border-bottom: 1px solid rgb(206, 206, 206);
    padding-bottom: 20px;
}
.widget-image{
    display: inline-block;
    width: 85px;
    margin-right: 23px;
    border-radius: 5px;
}

.widget-date{
    color: #888;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    display: block;
}
.widget-text{
    width: 200px;
    display: inline-block;
    position: relative;
    top: -9px;
}
.kk-text{
    margin-top: 9px;
}
.link-to-contact{  
    text-align: center;  
    width: 100%;
    margin: auto;
    background-color: #f91942;
    color: white;
    padding: 0px 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 6px;
    border: none;
    margin-top: 20px;
    border-radius: 50px;
}
.info-box{
    border-top: 2px solid #f91942;
    background: linear-gradient(to bottom, rgba(255,255,255,0.98), rgba(255,255,255,0.95));
    background-color: #f91942;
    color: #f91942;
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    padding: 23px 27px;
}
.readmore{
    margin-top: 23px;
    text-decoration: none;
    color: #f91942; 
    transition:margin-left 0.5s ease;
}
.post-text{
    margin: 18px 0 0 ;
    text-indent: 30px;
}
.arrow{
    display: inline-block;
    color: #f91942; 
}
.blog-post{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    margin: 15px 0;
}
.img-blog-post{
    border-radius: 3px 3px 0 0;
}
.left-blog{
    width: 66.6%;
    display: inline-block;
}
.right-blog{
    width: 33.3%;
    display: inline-block;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
}
.got-any-question{
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 22px;
}
.question{
    margin-top: 40px;
}
.post-date{
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;color: #888;

}
.img-rank{
    border-radius:5px; 
}
.rank{font-weight: bold;
    font-size: 18px;
    margin-top: 19px;
    margin-bottom: 10px;}
.text-rank{
    font-size: 16px;
    line-height: 29px;
    text-indent: 30px;
    margin-bottom: 20px;
}

.nav-homeblog{
    font-size: 15px;
    font-weight: 400;
    float: right;
    
    color: #888;
}
.icon-mail-blog{
    margin-right: 5px;
    font-size: 50px;
}
@media only screen and (max-width:440px){
    .title-bar{
        width: 100%;
        margin-left: 15px;
    }
    .container-title-blog{
        padding: 15px;
    }
    .nav-homeblog{
        float: none;
    }
    .left-blog{
        width: 100%;
        display: block;
    }
    .rank{font-weight: bold;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;}
    .text-rank{
        font-size: 16px;
        line-height: 29px;
        text-indent: 30px;
        margin-bottom: 20px;
    }

    .right-blog{
        width: 100%;
        display: block;
        position: relative;
    }
    .container-blog{
        width: 100%;
        padding: 15px;
        margin: auto;
    }
    .post-content{
        padding: 20px 35px;
    }
    .icon-mail-blog{
        font-size: 1rem !important;
        margin-right: 5px;
    }
    
.widget-text{
    width: 60%;
}
}