.container-menu-mobile{
padding: 20px;
}
.bgMenu-mobile{
    width: 100%;
    height: 80px;
    background: white;
    z-index: 999;
    font-size: 16px;
}
.icon-menu-mobile{
    margin-left: 10px;
    font-size: 30px;
}
.menu-nav-mobile{
    background: white;
    z-index: 99;
    padding: 10px;
    position: relative;
    left: 0;
    display: none;
}
.logo-menu-mobile{
    z-index: 99;
    width: 100%;
    box-shadow: #363636;
    border-bottom: 1px solid rgb(236, 236, 236);
}
#district{
    height: 100%;
}
.css-bg1rzq-control{
    height: 100%;
    border-radius: 0px !important;
    border-width: 0px !important;
}
.css-1szy77t-control{
    height: 100%;
}
.css-kj6f9i-menu{
    z-index: 99 !important;
    position: relative;
    margin-top: 0 !important;
}
#province{
    height: 100%;
}
.text-sub-menu-mobile{
    line-height: 2.5;
    font-size: 1.1em;
    color: #7c7c7c;
}
.element-sub-menu-mobile{
    padding-top: 10px;
    margin-left: 20px;
color:black;

}