.container-search{
    margin-top: 50px;
}
.input{
    margin-top: 10px;
    width: 60%;
}
.borderless{
    border: none;
    border-color: transparent;
}
.select-location{
    width: 40%;
}
.input-location{
    -webkit-appearance: none;
    outline: 0px;
    font-size: 16px;
    border: none;
    background: #fff;
    margin: 0;
    padding: 0;
    height: 44px;
    box-shadow: none;
    width: 24%;
    height: 100%;
    margin-left: 20px;
}
.select-district{

}
.button{
    margin-top: 6px;
    right: 0;
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.thumbs-wrapper {
    text-align:center;

}
.select-district{
    margin-left: 10px;
}
.main-search-input{
    margin-top: 0;
    border-radius: 50px;
    width: 100%;
    height: 63px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 9px;
}
.container-select{
    width: 40%;
    height: 100%;
}

.css-16pqwjk-indicatorContainer{
    padding: 12px !important;
}

@media only screen and (max-width:440px){
.input{
    width: 100%;
}
.css-16pqwjk-indicatorContainer{
    padding: 10px !important;
}
.css-bg1rzq-control{
    height: 100%;
    border-radius: 0px !important;
    border-width: 0px !important;
}
.css-1szy77t-control{
    height: 100%;
}
.css-kj6f9i-menu{
    margin-top: 0 !important;
}
    .main-search-input{
        margin-top: 0;
        border-radius: 4px;
        width: 100%;
        height: 63px;
        background-color: #fff;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
        padding-top: 9px;
        padding:0px;
        height: 50px;
        margin-left: 0;
    }
    .select-categories{
        width: 100%;
        background: white;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
    
    }
    .select-district{
        margin-left: 0px;
    }
    .input-location{
        border-radius: 4px;
        margin-bottom: 10px;
        width:auto;
        width: 100%;
        font-size: 14px;
        padding-left: calc(.625em - 1px);
        margin-left: 0;
    }
    
    .select-location{
        font-size: 14px;
        width: 50%;
    }
    .height-input{
        height: 50px !important;
    }
    .container-select{
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    flex-wrap: wrap;
    align-items: unset;
    margin-top: 10px;

    }
    .select-cate{
        width: 100%;
    }
    .button{
        margin-top:20px !important;
        padding-top:20px !important;
        padding-bottom:20px !important;
        padding-left:50px !important;
        padding-right:50px !important;
        color:#f91942;
    }
    .container-search{
        border-radius: 0;
        display: block;
        padding: 0;
        max-height: 100%;
        background-color: transparent;
        box-shadow: none;
    }
}
