.App {
  min-width: 100%;
  background-color: #fdfdfd;
  font-family: 'Roboto', sans-serif;
}
.google-map{
  width: 100%;
  height: 500px;
}


@media only screen and (max-width:440px){
  .google-map{
      width: 100%;
      height: 100%;
  }
}